<div class="formatting">
  <label for="search">Type your search in this box, then click the button:</label>
  <input type="text" id="search" [(ngModel)]="searchText" (click)="searchText = ''">
  <button class="btn btn-info" (click)="onSearchButtonClicked()">Click to search</button>

  <br>
  <hr>
  Displaying list of searched products
  <div class="well">
    <ul *ngFor="let product of searchedProducts">
      <li>{{ product.id }}, {{ product.description }}</li>
    </ul>
  </div>

  <br>
  <hr>
  Displaying list of all products
  <div class="well">
    <ul *ngFor="let product of products">
      <li>{{ product.id }}, {{ product.description }}</li>
    </ul>
  </div>
</div>